body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

iframe{      
 
  height: 90vh;  /* Set height to 100% of the viewport height */   
  width: 90vw;  /* Set width to 100% of the viewport width */     
  border: none; /* Remove default border */ /* Just for styling */
}